body{
	margin: 0;
	font-family:"roboto",sans-serif,arial; 
	background-color: #F3F3F3;
	display: flex;
	flex-direction: column;
	align-items: center;
}	
/*Header----------------------------------------------------------------------------------------*/
.header{
	width: 100%;
	height: 60px;
	display: flex;
	margin: 0 auto;
	background-color: #fff;
}

	.logo{
		background-image: url("./img/nhandang-1.jpg");
		width: 10%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0px 40px 0px 150px;
	}

	
	.searching{
	  width: 550px;
	  vertical-align: middle;
	  border: 1px solid #EEE;
	  border-radius: 5px;
	  padding: 2px;
	  position: relative;
	  top: 8px;

	}
		.searching .input-search{
		  width: 500px;
		  height: 35px;
		  border: none;
		  color: #63717f;
		  padding-left: 40px;
		  border-radius: 5px;
		}
			.searching .input-search:focus{
			    outline:none;
		  }
		.searching .icon{
		  position: absolute;
		  margin-left: 10px;
		  margin-top: 6px;
		  color: #63717f;
		  font-size: 20px;
		}

	.signin{
		display: flex;
		width: 30%;
		margin-left: 60px;
		position: relative;
	}

		.signin .item-1{
			background-image: url("./img/default.jpg");
			width: 40px;
			height: 40px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 100%;
			position: absolute;
			top: 10px;
			
		}

		.signin .item-2{
			align-items: center;
			display: flex;
			margin-left: 50px;
		}
		.signin .item-2 a{
			text-decoration: none;
			font-weight: bold;
			font-size: 0.85em;
			align-items: center;
		}
		.signin .item-2 a:link {
			color: #333;
		}
		.signin .item-2 a:hover {
			color: #5017b5;
		}
		.signin .item-3{
			margin: 20px 30px;
			font-size: 20px
		}

/*Navigation--------------------------------------------------------------------------------*/


.nav{
	background-color: #F7F7F7;
	height: 50px;
	width: 100%;
	display: flex;
	margin: 0 auto;
	border-bottom: 1px solid #E4E4E4;
}
.nav h5{margin: 0}
.nav .item-1{
	display: flex;
	align-items: center;
	color: #92929D;
	padding: 0 20px;
	margin-left: 160px;
	text-decoration: none; 
}
.nav .item-1:hover{
	color: #5017b5;
	border-bottom: 2px solid #5017b5; 
}
.nav .item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
	color: #92929D;
	padding: 0 20px;
	text-decoration: none; 
	position: relative;
}
.nav .item:hover{
	color: #5017b5;
	border-bottom: 2px solid #5017b5;
}

/*****Slide Song*******************************/
.slidesong{
	width: 1024px;
	height: 343px;
	background-image: url(./img/10279a3ee4717052450ce9172445c97a.jpg);
	border: 1px solid #E3E3E3;
	border-top: none;
	position: relative;
}
.slidesong .button{
	display: flex;
	background-color: rgba(255,255,255,0.5);
	width: 30px;
	height: 80px;
	font-size: 25px;
	color: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
	position: absolute;
	cursor: pointer;
}
.pre{
	top: 120px;
}
.next{
	top: 120px;
	right: 0px;
}
.slidesong .button:hover{
	color: white;
	background-color: rgba(116,97,167,0.5);
}
.slidesong .avatar{
	position: absolute;
	top: 270px;
	width: 100%;
	display: flex;
	padding-left: 680px; 
}
.slidesong .item{
	width: 56px;
	height: 56px;
	margin: 0px 4px; 
	cursor: pointer;
}
.slidesong .item:hover{
	border: 1px solid white;
}



/*****Slide Album*******************************/
.slidealbum{
	height: 370px;
	width: 1024px;
	background-color: #FCFCFC;
	border: 1px solid #E3E3E3;
	border-top: none;
	position: relative;
}
.slidealbum .title{
	position: absolute;
	margin: 0;
	top: 30px;
	left: 30px;
}
.slidealbum .button{
	display: flex;
	background-color: rgba(0,0,0,0.05);
	width: 30px;
	height: 80px;
	font-size: 25px;
	color: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
	position: absolute;
	cursor: pointer;
}
.pre{
	top: 130px;
}
.next{
	top: 130px;
	right: 0px;
}
.slidealbum .button:hover{
	color: white;
	background-color: rgba(116,97,167,0.5);
}
.slidealbum .slide{
	position: absolute;
	width: 964px;
	height: 280px;
	left: 30px;
	top: 60px;
	display: flex;
}
.slidealbum .item{
	width: 210px;
	height: 280px;
	cursor:pointer;
	color: #32323D;
	margin:20px 15px;
	font-weight: bold;
	position: relative;
}
.slidealbum img{
	width: 210px;
	height: 210px;
	margin-bottom: 10px;
}
.slidealbum .overlay{
	background-color: rgba(0,0,0,0.5);
	width: 210px;
	height: 210px;
	margin-bottom: 10px;
	position: absolute;
	top: 0;
	color: white;
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.3s;

}
.slidealbum .item:hover{
	color: rgb(116,97,167);
}
.slidealbum .item:hover .overlay{
	opacity: 1;
	transition: all 0.5s;
}
/*****Chart*******************************/
.chart{
	width: 1024px;
	height: 640px;
	background: linear-gradient(0deg, rgba(252,252,252,1) 0%, rgba(242,244,246,1) 100%);
	border: 1px solid #E3E3E3;
	border-top: none;
}
.chartday{
	width: 930px;
	height: 400px;
    background: linear-gradient(0deg, rgba(38,34,48,1) 0%, rgba(53,40,84,1) 100%);
	border-radius: 3px;
	margin: 30px 45px;
	display: flex;
}
.realtime{
	background-image: url("./img/zingchart.png");
	background-size: contain;
	height: 400px;
	width: 647px;
	border-radius: 3px;
}
.chartday .list{
	width: 283px;
	height: 400px;
	margin: 20px 0;
}
.chartday .item{
	display: flex;
	align-items: center;
	width: 263px;
	height: 67px;
	border-radius: 5px;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
}
.chartday .item .number{
	width: 30px;
	text-align: center;
	font-size: 20px;
}
.chartday .item-1 .number{
	color: #498DDE;
}
.chartday .item-1 .percent{
	color: #498DDE;
}
.chartday .item-2 .number{
	color: #50E3C2;
}
.chartday .item-2 .percent{
	color: #50E3C2;
}
.chartday .item-3 .number{
	color: #E4340D;
}
.chartday .item-3 .percent{
	color: #E4340D;
}
.chartday .item-4 .number{
	color: #fff;
}
.chartday .item-4 .percent{
	color: #fff;
}
.chartday .item img{
	width: 50px;
	height: 50px;
	border-radius: 5px;
}
.chartday .overlay{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	position: absolute;
	left: 30px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.chartday .item .title{
	width: 45%;
	margin: 10px;
	color: white;
}
.chartday .item h5{
	margin: 0;
}
.chartday .item p{
	margin: 0;
	font-size: 14px;
	opacity: 0.5;
}
.chartday .item .percent{
	width: 15%;
	text-align: center;
	font-size: 14px;
}
.chartday .item:hover{
	background-color: rgba(255,255,255,0.1);
}

.chartday .item:hover .overlay{
	opacity: 1;
}
.chartday a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 12px;
}
.chartday .link{
	margin-top:15px;
	text-align: center;
}

.chartweek .title{
	color: #32323D;
	font-weight: bold;
	margin:0 0 20px 45px;
	cursor: pointer;
}
.chartweek .title:hover {
	color: #5017b5;
}
.chartweek .container{
	margin-left: 45px;
	width: 960px;
	height: 118px;
}
.chartweek .item{
	width: 210px;
	height: 118px;
	margin-right: 25px;
	cursor: pointer;
}
/*****top100*******************************/
.top100 {
	width: 1024px;
	height: 720px;
	background-color: #FCFCFC;
	border: 1px solid #E3E3E3;
	border-top:none;
}
.top100 .title{
	color: #32323D;
	font-weight: bold;
	margin:35px 0 30px 45px;
	cursor: pointer;
	font-size: 25px;
}
.top100 .title:hover{
	color: #5017b5;
}
.top100 .container{
	height: 273px;
	width: 960px;
	margin: 45px;
	margin-top: 0;
	display: flex;
}
.top100 .item{
	width: 210px;
	height: 273px;
	font-weight: bold;
	margin-right: 30px;
	position: relative;
}
.top100 img{
	width: 210px;
	height: 210px;
	margin-bottom: 5px;
	border-radius: 5px;
}
.top100 .overlay{
	width: 210px;
	height: 210px;
	border-radius: 5px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.top100 .item:hover .overlay{
	opacity: 1;
}
/*****albumhot*******************************/
.albumhot {
	width: 1024px;
	height: 730px;
	background-color: #FCFCFC;
	border: 1px solid #E3E3E3;
	border-top:none;
}
.albumhot .head{
	display: flex;
	color: #32323D;
}
.albumhot .title{
	font-weight: bold;
	margin:35px 0 30px 45px;
	cursor: pointer;
	font-size: 25px;
}
.albumhot .navi{
	display: flex;
	font-size: 18px;
	font-weight: 500;
	color: #ABABB0;
	margin: 40px 0 30px 350px;
}
.albumhot .btn{
	margin:0 20px;
	cursor: pointer;
}
.albumhot .title:hover{
	color: #5017b5;
}
.albumhot .btn:hover{
	color: #5017b5;
}
.albumhot .container{
	height: 273px;
	width: 960px;
	margin: 45px;
	margin-top: 0;
	display: flex;
}
.albumhot .item{
	width: 210px;
	height: 273px;
	font-weight: bold;
	margin-right: 30px;
	position: relative;
}
.albumhot img{
	width: 210px;
	height: 210px;
	margin-bottom: 5px;
	border-radius: 5px;
}
.albumhot .item p{
	margin: 0;
	font-size: 14px;
	opacity: 0.3;
	font-weight: 600;
	margin-top: 10px;
}
.albumhot .overlay{
	width: 210px;
	height: 210px;
	border-radius: 5px;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.albumhot .item:hover .overlay{
	opacity: 1;
}